<div class="" style="display:flex">
  <div class="col-md-4">
    <div class="home-list-div">
      <h3>Poems</h3>
      <ul ng-repeat="poem in poems">
        <a href="#!/poems/{{poem.id}}"><li>{{poem.title}}</li></a>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="home-list-div">
      <h3>Submissions</h3>
      <ul ng-repeat="submission in submissions">
        <a href="#!/submissions/{{submission.id}}"><li>{{submission.name}}</li></a>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="home-list-div">
      <h3>Journals</h3>
      <ul ng-repeat="journal in journals">
        <a href="#!/journals/{{journal.id}}"><li>{{journal.title}}</li></a>
      </ul>
    </div>
  </div>
</div>
